@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>This is a demo app hosted in <b>@Configuration["Location"] </b></h3>
